.mast-header {
    background-image: url(../img/masthead_blue.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
}

#more-link, #login-btn, #logout-btn, #audio-player, #node-mp3-files {
    display: none;
}

#node_content img {
    margin: 5px;
}

#node_comments_list li {
	border: 0px;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.25);
    display:none;
    position: fixed;
    z-index:10;
}

.ui-loading .ui-loader-background {
    display:block;    
}

input, textarea { -webkit-user-select: text; }